<h1> All Articles </h1>
<%= link_to "New Article", new_article_path %> 

<% if @articles.size > 0 %>
<table border="2" >
    <tr>
        <th> Id </th>
        <th> Title </th>
        <th> Description </th>
        <th> Action </th>
    </tr>
    <% @articles.each do |article| %>
        <tr>
            <td>
                <%= article.id %>
            </td>
            <td>
                <%= article.title %>
            </td>
            <td>
               <%= article.description %>
            </td>
            <td>
               <%= link_to 'View', article_path(article)  %> | 
               <%= link_to 'Edit', edit_article_path(article)  %> | 
               <%= link_to 'Delete', articles_delete_path(article), method: :delete %>
            </td>
        </tr>
    <% end %>
</table>
<% else %>
    <p> No Articles </p>
<%end%>

